<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="css/style_about.css">
    <title>Document</title>
</head>
<body>
    <header>
        <h1>
            About
        </h1>
        <p>This is a completly schorlar page no lucrative project here.</p>
    </header>
    <hr>
    <main>
        <h3>Just a javascript exercice to show some restaurants</h3>
        <p>Useless page anyways, just want it to be done.</p>
    </main>
    <hr>
    <footer>
        <a href="/">Accueil</a>
    </footer>
</body>
</html>